h1,h2{
    position: absolute;
}

h1 {
    top: 90px;
    left: 30px;
}

h2 {
    top: 230px;
    left: 30px;
}

.form {
    margin-top: 230px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
}

.input-element {
    width: 300px;
}