tr {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    position: relative;
}

td {
    text-align: center;
}

tr td:first-child {
    width: 20px;
    height: 20px;
    border-radius: 50%;

    display: inline-block;

}

span.success, tr td:first-child.success {
    background-color: lightgreen;
}

span.failed, tr td:first-child.failed {
    background-color: red;
}

span.pending, tr td:first-child.pending {
    box-shadow: rgba(255, 255, 0, 0.4) 0px 2px 4px, rgba(255, 255, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    animation: rotate 2.0s infinite linear;
}
  
@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}
  

li i {
    margin: 0 30px;
}

li:has(>span.pending)::before {
    animation: top-line-glow 1s linear infinite;
}

@keyframes top-line-glow {
    0% {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: yellow;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: yellow;
    }
}