#root {
  max-width: 1280px;
  padding: 2rem;
}

#form-toggle {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #3026bd;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #3026bd;
  text-decoration: none;
  background-color: transparent;
  z-index: 1;
  margin: 0;

  cursor: pointer;
}

#form-toggle.on {
  border-color: #211b75;
}

#form-toggle.on:before {
  background-color: #211b75;
}

#form-toggle:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #3026bd;
  z-index: -1;
}

#form-toggle:hover, #form-toggle.on {
  color: white;
}

#form-toggle:hover:before, #form-toggle.on:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

#form-toggle:active {
  transform: scale(0.995);
  opacity: 0.8;
}