tr {
    margin: 10px 0;
    position: relative;
}

td {
    text-align: center;
}

tr td:first-child {
    width: 20px;
    height: 20px;
    border-radius: 50%;

    display: inline-block;

}

tr td:first-child.success {
    background-color: lightgreen;
}

tr td:first-child.failed {
    background-color: red;
}

tr td:first-child.pending {
    box-shadow: rgba(255, 255, 0, 0.4) 0px 2px 4px, rgba(255, 255, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    animation: rotate 2.0s infinite linear;
}
  
@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.table-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}