
.container {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 3px;

    width: 100%;
    aspect-ratio: 1/1;
}

.img {
    width: 60%;
    height: 60%;
}

.img img {
    width: 100%;
    filter: invert(48%) sepia(9%) saturate(1801%) hue-rotate(188deg) brightness(91%) contrast(96%);
}

.container.true {
    background-color: #3c3d51;
    border-left: 3px solid #9e5b8b;
    padding-left: 0;
}

.container.true .img img.veeva, .container:hover .img img.veeva {
    filter: invert(64%) sepia(93%) saturate(587%) hue-rotate(337deg) brightness(102%) contrast(102%);
}

.container.true .img img.comingSoon, .container:hover .img img.comingSoon {
    filter: invert(19%) sepia(100%) saturate(1613%) hue-rotate(197deg) brightness(96%) contrast(99%);
}

.tooltip {
    background-color: #282a36;
    color: #f8f8f2;
}